@import 'variables';

html, body, #root, .app {
  width: 100%;
  height: 100%;
  margin: 0;
}
.app {
  display: flex;
  @media (max-width: $smallScreenWidth) {
    display: block;
  }
  .side-bar {
    border-right: 1px solid rgba(110,110,110,0.3);
    h3 {
      padding-left: 0.5rem;
    }
    height: 100%;
    overflow-y: auto;
    width: 0;
    &.open {
      width: $sideBarWidth;
    }
    @media (max-width: $smallScreenWidth) {
      &.open {
        width: 100%;
      }
      z-index: 1;
      position: absolute;
      background-color: white;
    }
  }
  .esri-view {
    flex: 1;
    @media (max-width: $smallScreenWidth) {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
    }
    .esri-widget {
      background-color: #ffffffb0;
    }
  }
}
