.feature {
  padding: 0.5rem;
  .esri-feature__content-element {
    padding: 0;
  }
  .btn.btn-link {
    margin-left: 0;
    padding-left: 0;
    &:focus {
      box-shadow: none;
      text-decoration: none;
    }
  }
}
