@use 'variables';

.side-bar-toggler.btn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 6px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: variables.$primaryColor !important;
  border-color: variables.$primaryColor !important;
  &:focus {
    box-shadow: none !important;
  }
  &.open {
    left: variables.$sideBarWidth - 1px;
    @media (max-width: variables.$smallScreenWidth) {
      right: 0;
      left: auto;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0.25rem;
      z-index: 2;
    }
  }
  svg {
    height: 1.4em;
  }
}
