@import 'variables';

.side-bar-toggler.btn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 6px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  &:focus {
    box-shadow: none !important;
  }
  &.open {
    left: $sideBarWidth - 1px;
  }
  svg {
    height: 1.4em;
  }
}
