@use 'variables';

.video {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    svg {
      position: absolute;
      left: 0.5em;
      cursor: pointer;
    }
  }
  a.btn {
    display: block;
    margin: 1rem;
    background-color: variables.$primaryColor;
    border-color: variables.$primaryColor;
  }
}
